body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    color: #dfdfdf;
    padding: 4px;
}

.content {
    padding-top: 75px;
    max-width: 2000px;
}
.common-text {
    font-size: 18px;
    color: #303030;
}
.ourBenefits {
    display: flex;
    justify-content: center;
}
.ourBenefits img {
    width: 57px;
    height: 63px;
    padding: 10px;
}
.benefit {
    display: flex;
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 15px;
    margin: 20px 10px;
    transition: all 0.3s ease;
}
.benefit h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #303030;
}
.benefit p {
    font-size: 15px;
    margin: 0;
    color: #a6a6a6;
}

.benefit:hover {
    border: 1px solid #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.products {
    display: grid;
    padding: 10px 200px;
    align-items: center;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    box-sizing: border-box;
    width: 100%;
}
.products h5 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
}
.product {
    height: 500px;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    transition: all 0.1s ease;
    overflow: hidden;
    padding: 0 20px;
    cursor: pointer;
}
.product:hover {
    border: 1px solid #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}
.availability {
    font-size: 13px;
    display: inline;
    padding: 4px;
    color: green;
    background-color: #ededed;
    border-radius: 5px;
}
.products img {
    width: 220px;
    border-radius: 15px;
    height: 100%;
    object-fit: contain;
}
.image-container {
    text-align: center;
    padding: 10px 0;
    height: 300px;
}
.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-cart p {
    font-weight: bold;
}
.add-to-cart {
    text-decoration: none;
    color: #ededed;
    background-color: #303030;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.add-to-cart.text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 185px;
    gap: 10px;
}
.add-to-cart.text> *{
    margin: 0;
}

.add-to-cart img {
    width: 25px;
}
.add-to-cart:hover {
    background-color: #666666;
}


#about-us {
    margin: 0 350px;
    text-align: justify;
    color:#303030;
}
#about-us p{
    font-size: 18px;
}
#about-us h1{
    font-size: 38px;
}
#about-us h3{
    font-size: 28px;
    margin: 36px 0 18px 0;
}
#about-us p a {
    color:green;
    text-decoration: none;
}
#about-us p a:hover {
    color:greenyellow;
}
.about-us-list {
    list-style: none;
    padding-left: 0;
}
.about-us-list li {
    position: relative;
    padding: 15px 0;
    padding-left: 30px;
    font-size: 18px;
}
.about-us-list li::before {
    content: "➤";
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 1.2em;
}




.contact h1 {
    text-align: center;
    color: #303030;
}
.contact h2 {
    text-align: center;
    color: #303030;
}
.our-contacts {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.our-contacts img {
    width: 50px;
}
.contact-box {
    display: flex;
    border: 2px solid #303030;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    margin: 20px 50px;
    transition: all 0.3s ease;
}
.contact-box:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}
.contact-box a{
    color:#303030;
    font-weight: bold;
    text-decoration: none;
}
.contact-box a:hover{
    color:green;
}
.contact-info {
    display: flex;
    flex-direction: column;
}
.send-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .send-message-box {
    height: auto;
    width: 1200px;
    border-radius: 25px;
    background-color: #dfdfdf;
}
.send-message-box input{
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 25px;
    max-width: 500px;
    height: 45px;
    margin-bottom: 24px;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-column-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

.form-column-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

.send-message-box input:focus {
    outline: 1px solid #a6a6a6;
}

.send-message-box textarea{
    font-size: 20px;
    padding: 15px;
    border: 1px solid #a6a6a6;
    border-radius: 25px;
    max-width: 800px;
    height: 150px;
}
.send-message-box textarea:focus {
    outline: 1px solid #a6a6a6;
}
.send-message-box label{
    font-size: 20px;
    color: #303030;
    margin-bottom: 8px;
}
.send-message-box label:last-child {
    text-align: center;
}
.send-message-box form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}
.send-message-box form button{
    width: 250px;
    height: 45px;
    border: 0;
    border-radius: 30px;
    background-color: #3dd442;
    margin: 20px auto 0;
    cursor: pointer;
    font-size: 18px;
}
.send-message-box form button:hover{
    background-color: #00b006;
}