.cart-list {
    min-height: 500px;
    width: 100%;
    max-width: 1200px; 
    border-radius: 25px;
    background-color: var(--light-gray);
    margin: 50px auto;
    padding: 30px;
}

.cart-item {
    background-color: var(--gray);
    border-radius: 10px;
    min-height: 150px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    gap: 20px; 
}

.cart-info {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    align-items: flex-start;
}

.item-img {
    background-color: #FFF;
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.item-text-info {
    flex-grow: 1;
    max-width: 550px;
    min-width: 300px;
}

.item-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
    line-height: 1.5;
    height: calc(1.5em * 3);
    font-size: 16px;
    padding: 0;
}

.quantity {
    display: flex;
    gap: 10px;
    align-items: center;
}
.quantity button {
    border: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.quantity button:hover {
    background-color: #a6a6a6;
}
.quantity button img{
    width: 20px;
    height: 20px;
}
input[type="number"]{
    border: 1px solid #303030;
    border-radius: 7px;
    text-align: center;
    background-color: var(--light-gray);
    cursor: auto;
    font-size: 24px;
    height: 40px;
    width: 40px;
}
input[type="number"]:focus {
    outline: 1px solid #303030;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.item-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-weight: bold;
    font-size: 18px;
}

.remove-item {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 7px;
    height: 50px;
    display: flex;
    padding: 5px;
}
.remove-item:hover {
    background-color: #a6a6a6;
}
.remove-item img {
    width: 40px;
}