.header {
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 0 100px 0 130px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.logo img {
    width: 300px;
}

nav {
    margin: 0 120px;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #303030;
    padding: 20px 40px;
    font-size: 26px;
    width: 190px;
}
nav ul li a:hover{
    background-color: #a6a6a6;
}

.search-and-filters {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.search-bar {
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
}
.search-bar:focus {
    outline: 1px solid #a6a6a6;
}
.filter-button {
    border: none;
    background-color: #ededed;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.filter-button img{
    width: 25px;
}
.filter-button:hover {
    background-color: #a6a6a6;
}

.CartID a {
    padding: 0;
}
.CartID img {
    width: 50px;
}
.profile a {
    padding: 0;
}
.profile img {
    width: 50px;
}
.icons {
    display: flex;
    gap: 20px;
}
.icons button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    display: flex;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
.CartID {
    padding-right: 2px;
}
.icons button:hover {
    background-color: #a6a6a6;
}
.icons button svg {
    width: 50px;
}

/* .profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 160px;
}
.dropdown-list li {
    height: 30px;
    cursor: pointer;
    padding: 17px 0 10px 10px;
    font-size: 18px;
}
.dropdown-list li a{
    text-decoration: none;
    color: #303030;
}
.dropdown-list li:hover {
    background-color: #ddd;
}
.dropdown-list li:hover:first-child {
    border-radius: 10px 10px 0 0;
}
.dropdown-list li:hover:last-child {
    border-radius: 0 0 10px 10px;
} */
/* .dropdown-list button {
    width: 200px;
    height: 30px;
    margin: 0;
} */

.cart-dropdown {
    position: relative;
}
.cart-dropdown .cart-quantity {
    font-size: 14px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    top: -2px;
    right: -5px;
    text-align: center;
    color:#ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}